@{
    Layout = "~/Views/Shared/_PageBuilderLayout.cshtml";
}
@section stylesheet
{
    <link href="~/Content/pagebuilder.css" rel="stylesheet" />
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 accordion_box">
            <div class="accordion  pgToolbar col-md-3">
                <h3>Layout</h3>
                <div class="pbLayout">
                    <div>
                        <div class="row container draggable node" pbnode="c12">
                            <div class="plSectionPage">SECTION TOP</div>
                            <div class="sortable c12"></div>
                            <div class="plSectionPage">SECTION BOTTOM</div>
                        </div>
                        <div class="row container draggable node" pbnode="c12">
                            <div pbnode="c6a" class="col-xs-6 node" settings='{"settings":[{"key":"repeata","value":"3","desc":"the number of slider"}]}'>
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c6"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c6b" class="col-xs-6 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c6"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                        </div>
                        <div class="row container  draggable node" pbnode="c12">
                            <div pbnode="c4a" class="col-xs-4 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c4"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c8b" class="col-xs-8 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c8"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                        </div>
                        <div class="row container  draggable node" pbnode="c12">
                            <div pbnode="c8a" class="col-xs-8 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c8"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c4b" class="col-xs-4 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c4"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                        </div>
                        <div class="row container  draggable node" pbnode="c12">
                            <div pbnode="c3a" class="col-xs-3 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c3"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c9b" class="col-xs-9 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c9"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                        </div>
                        <div class="row container  draggable node" pbnode="c12">
                            <div pbnode="c9a" class="col-xs-9 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c9"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c3b" class="col-xs-3 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c3"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                        </div>
                        <div class="row container  draggable node" pbnode="c12">
                            <div pbnode="c4a" class="col-xs-4 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c4"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c4b" class="col-xs-4 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c4"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c4c" class="col-xs-4 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c4"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                        </div>
                        <div class="row container  draggable node" pbnode="c12">
                            <div pbnode="c3a" class="col-xs-3 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c3"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c3b" class="col-xs-3 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c3"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c3c" class="col-xs-3 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c3"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                            <div pbnode="c3d" class="col-xs-3 node">
                                <div class="plSectionPage">SECTION TOP</div>
                                <div class="sortable c3"></div>
                                <div class="plSectionPage">SECTION BOTTOM</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Model 1</h3>
                <div>
                    <div>
                        <div class="row draggable node" pbnode="s0101">
                            <img src="~/Content/templates/t1/images/home/s0101.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0102">
                            <img src="~/Content/templates/t1/images/home/s0102.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0103">
                            <img src="~/Content/templates/t1/images/home/s0103.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0104">
                            <img src="~/Content/templates/t1/images/home/s0104.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0105">
                            <img src="~/Content/templates/t1/images/home/s0105.png" alt="" />
                        </div>
                    </div>
                </div>
                <h3>Model 2</h3>
                <div>
                    <div>

                        <div class="row draggable node" pbnode="s0106">
                            <img src="~/Content/templates/t1/images/home/s0106.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0107">
                            <img src="~/Content/templates/t1/images/home/s0107.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0108" settings='{"settings":[{"key":"repeata","value":"3","desc":"the number of slider"}]}'>
                            <img src="~/Content/templates/t1/images/home/s0108.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0109">
                            <img src="~/Content/templates/t1/images/home/s0109.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0110">
                            <img src="~/Content/templates/t1/images/home/s0110.png" alt="" />
                        </div>
                        <div class="row draggable node" pbnode="s0111">
                            <img src="~/Content/templates/t1/images/home/s0111.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8  pgPagePanel">
            <div class="node pbRoot" pbnode="root">
                <div class="plPage">PAGE TOP</div>
                <div class="sortable">
                </div>
                <div class="plPage">PAGE BOTTOM</div>
            </div>
        </div>

        <div class="col-md-1">
            <div class="pgButtons">
                <p>
                    <button type="button" class="btn btn-primary" id="btnNew">New Page</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary" id="btnReload">Load Page</button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary" id="btnPreview">Save Page</button>
                </p>
                <p>
                    <button type="button" class="btn btn-warning" id="btnDelete">Delete Mould</button>
                </p>
                <p>
                    <button type="button" class="btn btn-warning" id="btnSettings">Settings</button>
                </p>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/pagebuilder.js"></script>
}

 <!-- Modal -->
<div class="modal fade" id="pbSettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Settings</h4>
            </div>
            <div class="modal-body">
                <form id="settingsForm" role="form">
                    @*<div class="form-group">
                        <div id="textPanel">
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="textEditor"></div>
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSettingsSave">Save</button>
            </div>
        </div>
    </div>
</div>

