
.root {
    margin-top: 80px;
}

.root *{
    cursor:pointer;
}
.resultImage {
    float: left;
    margin: 5px;
}

#searchPanel .resultImage {
    display: none;
}
.cropForm{
    display:none;
}

.resultImage img {
    width: 100px;
}

.resultImage.selected{
    border:2px solid blue;
}

#searchPanel {
    overflow-y: scroll;
    height: 350px;
}

#myFolderPanel{
    overflow-y: scroll;
    height: 400px;
}

#searchPanel .imageSize{
    text-align:center;
}

#imagePanel {
    overflow-y: scroll;
    height: 400px;
}

#imagePanel img {
    width:135px;
}

#textPanel{
    overflow-y: scroll;
    height: 150px;
}

#textPanel ul {
    padding:0;
}

#textPanel li {
    cursor:pointer;
}

#searchPanel img {
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    #pbImageModal .modal-dialog{
        width: 800px;
    }
}